---
import SiteOptions from "../site.config.mjs";
export interface Props {
  showTitle?: boolean;
}

const { showTitle = true } = Astro.props;
---

<div
  class="flex flex-col md:flex-row md:justify-between mx-20 mt-8 items-center"
>
  <div>
    <a href="http://reporto.co">
      <img
        src="/images/logo-report-beta.svg"
        alt="Reporto Logo"
        class="h-10 object-cover dark:border-gray-700 hover:opacity-80 transition-opacity"
      />
    </a>
    <!-- Theme Toggle Button -->
    <button
      onclick="toggleTheme()"
      id="theme-toggle-button"
      aria-label="Toggle theme"
      class="absolute top-0 mt-8 right-0 mt-2 mr-8 p-2 rounded-md text-gray-600 dark:text-gray-300 bg-gray-100 dark:bg-slate-700 hover:bg-gray-200 dark:hover:bg-slate-600 transition-colors"
    >
      <svg
        id="sun-icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5 hidden"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
        ></path>
      </svg>
      <svg
        id="moon-icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-5 h-5 hidden"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
        ></path>
      </svg>
    </button>
  </div>

  <div
    class="text-[14px] mt-8 sm:mt-0 flex items-center space-x-4 text-gray-500 dark:text-gray-400 font-light text-center"
  >
    <a class="hover:text-gray-200" href="https://reporto.co">Home</a>
    <a class="hover:text-gray-200 text-[#ccc]" href="/">Blog</a>
    <a class="hover:text-gray-200" href="https://reporto.co/price">Pricing</a>
  </div>
  <div class="text-[14px] hidden sm:flex items-center space-x-4">
    <a class="hover:text-gray-200" href="https://reporto.co/auth/sign-in"
      >Log in</a
    >
    <a
      class="items-center rounded-full flex bg-[#F2C279] px-4 py-2 text-center text-[#000]"
      href="https://reporto.co/auth/sign-in"
      >Try for free &nbsp;<span
        role="img"
        aria-label="export"
        class="anticon anticon-export"
        ><svg
          fill-rule="evenodd"
          viewBox="64 64 896 896"
          focusable="false"
          data-icon="export"
          width="1em"
          height="1em"
          fill="currentColor"
          aria-hidden="true"
          ><path
            d="M880 912H144c-17.7 0-32-14.3-32-32V144c0-17.7 14.3-32 32-32h360c4.4 0 8 3.6 8 8v56c0 4.4-3.6 8-8 8H184v656h656V520c0-4.4 3.6-8 8-8h56c4.4 0 8 3.6 8 8v360c0 17.7-14.3 32-32 32zM770.87 199.13l-52.2-52.2a8.01 8.01 0 014.7-13.6l179.4-21c5.1-.6 9.5 3.7 8.9 8.9l-21 179.4c-.8 6.6-8.9 9.4-13.6 4.7l-52.4-52.4-256.2 256.2a8.03 8.03 0 01-11.3 0l-42.4-42.4a8.03 8.03 0 010-11.3l256.1-256.3z"
          ></path></svg
        ></span
      ></a
    >
  </div>
</div>
<header class="max-w-[1100px] mx-auto flex flex-col items-center mt-8 mb-4 relative">
  <a href="/" class="flex flex-col items-center">
    {
      showTitle && (
        <>
          <h1 class=" text-2xl font-bold tracking-tight mb-2 text-center hover:opacity-80 transition-opacity">
            {SiteOptions.siteSubTitle}
          </h1>
          {/* <p class="text-md text-gray-500 dark:text-gray-400 font-light text-center">
            {SiteOptions.siteSubTitle}
          </p> */}
        </>
      )
    }
  </a>
</header>
